# Repo Traffic


### Repo Page Views
```mermaid
xychart-beta
    title "Views"
    x-axis {{xaxis}}
    y-axis "Count"
    line {{views}}
    %%{init: {'theme':'forest'}}%%
```

### Repo Unique Visitors
```mermaid
xychart-beta
    title "Views"
    x-axis {{xaxis}}
    y-axis "Count"
    line {{unique}}
    %%{init: {'theme':'forest'}}%%
```